/* general */
body {
	margin: 0;
	padding: 0;
	background-color: #fafafc;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fafafc;
}
/* logo */
.logo {
	color: #492c21;
	font-family: "Montserrat Alternates", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	margin-left: 20px;
}
/* .h1 {
	font-family: "Montserrat Alternates", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 35px;
} */

/* navbar */
.navbar a {
	font-family: "Montserrat Alternates", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	color: black;
	text-decoration: none;
	text-align: center;
	margin-left: 20px;
}
.navbar a:hover {
	color: grey;
}
/* section */

/* section image de fond */
.imgBg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("./img/HeaderImg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
/* je cible uniquement le h2 du background */
.imgBg h2 {
	font-family: "Montserrat Alternates", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	color: #fafafc;
}

.btnDecouvrez {
	font-family: "Montserrat Alternates", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 15px;
	padding: 15px 30px;
	background-color: transparent;
	color: #fafafc;
	border: 1px solid #fafafc;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
.btnDecouvrez:hover {
	background-color: #c8ced351;
}

.section {
	width: 80vw;
	justify-content: center;
	align-items: center;
	margin: 70px 0 70px 0;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20%;
	justify-content: flex-start;
	gap: 70px;
}
.card-container h2 {
	font-size: 25px;
	width: 100vw;
	margin-bottom: -10vh;
}

/* cartes de menu */

.card {
	display: flex;
	width: 340px;
	height: 91px;
}

.card img {
	width: 129px;
	height: 91px;
	object-fit: cover;
}
.cardContent {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}
.cardContent h3 {
	margin: 0 0 5px 0;
	font-size: 22px;
}
.cardContent p {
	margin: 0;
	font-size: 18px;
}

/* séparateur */
.separateur {
	width: 80vw;
	border: none;
	height: 2px;
	background-color: #492c21;
	margin: 70px 0;
}
/* section ambiance spotify*/

.section {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.ambiance {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* lignes */
.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.bgColor {
	display: flex;
	background-color: #ba3300;
	width: 50%;
}
.bgImage {
	display: flex;
	width: 50%;
}

/* footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #464646;
	height: 380px;
}

.footer p {
	font-size: 50px;
	color: #fafafc;
}
